@model RecipeIngredientShoppingSystem.DataEntity.UserLogin

@{
    ViewBag.Title = "Login";
}
<style>
    .loginlabels {
        font-size: x-large
    }



    .Loginput {
        font-size: larger;
        margin-left: 7px;
    }

    .Signup {
        margin-right: 57px;
        font-size: 18px;
    }


    .btn:hover {
        background-image: none;
        background-color: rgba(0, 78, 137, 0.5);
    }
    .login {
        margin-left: 131px;
        margin-bottom: 42px;
        font-size: 42px;
    }
    .passwordfield > input {
        width: 314px;
        height: 32px;
        border: 1.5px solid lightgrey;
        border-radius: 5px;
    }
    
</style>
<div class="navbar navbar-fixed-top navbardiv">
    <div class="container">
        <div class="col-lg-5">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Recipe Ingredient Shopping", "Index", "HomeMvc", new { area = "" }, new { @class = "navbar-brand navheading" })*@
                <a class="navbar-brand" href="#" style="font-family: 'Lucida Handwriting'; font-size:x-large; font-weight: 900;">Recipe Ingredient Shopping</a>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    <li>@Html.ActionLink("Register", "Signup", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-4">
            <div class="col-md-1 text-left">
                @*<img src="~/Images/tenor.gif" class="img-circle">*@
                @*<img src="~/Images/groceries.gif" class="img-circle"  height="320px" width="350px" >*@
                <img src="~/Images/0764e58ab3cc673d69f0cf5dd93418de.gif" class="img-circle" height="320px" width="350px">
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="text-center login"><b> Login</b></h2>
            <div class="form-group text-right">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-5 loginlabels" })
                <div class="col-md-5 text-right">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control Loginput" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-right">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5 loginlabels" })
                <div class="col-md-5 passwordfield">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control Loginput " } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group text-right">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-5 loginlabels" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control Loginput" } })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-5 loginlabels" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control Loginput" } })
                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="form-group text-right">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Login" class="btn btn-default btn-lg" />
                </div>
            </div>
            <div class="text-right Signup" style="font-weight:bold">
                @Html.ActionLink("Click here to Sign Up", "Signup")
            </div>
        </div>





    </div>}



